<p>
  <%= image_tag @user.avatar.url(:medium) %>
</p>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> | 
<%= link_to 'Back', users_path %>

